version: '3'

services:
  mysql:
    image: mysql:8.0.20
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: integration_test
      MYSQL_DATABASE: integration_test
      MYSQL_USER: integration_test
      MYSQL_PASSWORD: integration_test
    ports:
      - "3306:3306"
