name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Prepare JDK11 env var
        shell: bash
        run: echo "JDK11=$JAVA_HOME" >> $GITHUB_ENV

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Check
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check -x h2 -x :integration-test-jdbc:check -x :integration-test-r2dbc:check

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: ./**/build/reports

  test-jdbc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        driver: [h2, mariadb, mysql, oracle, postgresql, sqlserver]
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Prepare JDK11 env var
        shell: bash
        run: echo "JDK11=$JAVA_HOME" >> $GITHUB_ENV

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: :integration-test-jdbc:${{ matrix.driver }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: jdbc-${{ matrix.driver }}
          path: ./**/build/reports

  test-r2dbc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        driver: [h2, oracle, postgresql]
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Prepare JDK11 env var
        shell: bash
        run: echo "JDK11=$JAVA_HOME" >> $GITHUB_ENV

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: :integration-test-r2dbc:${{ matrix.driver }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: r2dbc-${{ matrix.driver }}
          path: ./**/build/reports

  unstable-test-r2dbc:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        driver: [sqlserver]
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Prepare JDK11 env var
        shell: bash
        run: echo "JDK11=$JAVA_HOME" >> $GITHUB_ENV

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: :integration-test-r2dbc:${{ matrix.driver }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: r2dbc-${{ matrix.driver }}
          path: ./**/build/reports

  publish:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [ build, jdbc-test, r2dbc-test ]

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Prepare JDK11 env var
        shell: bash
        run: echo "JDK11=$JAVA_HOME" >> $GITHUB_ENV

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Checkout
        uses: actions/checkout@v2

      - name: Publish packages
        uses: gradle/gradle-build-action@v2
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}
        with:
          arguments: publishToSonatype closeAndReleaseSonatypeStagingRepository

      - name: Publish plugin
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }}
            -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
            publishPlugins

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: publish
          path: ./**/build/reports
