name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: false

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 10
 
    steps:
      - name: Assign input version
        if: github.event.inputs.version != null
        run: echo "RELEASE_VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV

      - name: Get latest draft release title
        if: github.event.inputs.version == null
        run: |
          TITLE=$(gh api repos/${{ github.repository }}/releases \
            --jq '.[] | select(.draft==true) | .name' | head -n 1)
          if [[ -z "$TITLE" ]]; then
            echo "No draft release found."
            exit 1
          fi
          RELEASE_VERSION=${TITLE#v}
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}

      - name: Prepare git config
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2

      - name: Release ${{ env.RELEASE_VERSION }}
        run: ./gradlew release -Prelease.releaseVersion=${{ env.RELEASE_VERSION }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build
          path: ./**/build/reports
